.itemmain{
    margin: 0;
   
    padding: 0;
    padding-bottom: 24px;
    padding-top: 24px;
    list-style-type: none;
    border-bottom: 1px solid #DFE0EB;
   
    text-align: center;
}

.main-item-text{
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #9FA2B4;
}

.main-item-num{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #252733;
}